body {
  line-height: 1.5;
  color: white;


  background: url("../images/daft-sam.gif");
  /* Full Page Background Receipe */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 500px;
  margin: 40px;
  background: black;
  padding: 15px;
}

h1 {
  font-size: 70px;
  margin-bottom: -50px;
}

h2 {
  font-size: 30px;
}

a {
  color: yellow;
  text-decoration: none;
}